<h2 mat-dialog-title class="ps-10" >Edit Playlist</h2>
<mat-dialog-content>
    <div class="container-fluid">
        <form role="form">
            <div class="input-group input-group-outline mb-3">
                <label class="col-md-5 ps-5 pt-2">Artist</label>

               
                    <mat-form-field class="example-form">
                      <mat-label>Username</mat-label>
                      <input formControlName="name" type="text"
                             placeholder="Pick one"
                             aria-label="Number"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                          <mat-option [value]="option">{{option}}</mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  

                <span class="invalid-feedback">
                    <div class="input-group input-group-outline mb-3">
                        <label for="exampleFormControlTextarea1" class="col-md-5"></label>
                        <span>Username Title is required</span>
                    </div>
                </span>
            </div>

            <div class="input-group input-group-outline mb-3">
                <label class="col-md-5 ps-5 pt-2">Playlist Title</label>
                <input formControlName="name" type="text" class="form-control">
                <span class="invalid-feedback">
                    <div class="input-group input-group-outline mb-3">
                        <label for="exampleFormControlTextarea1" class="col-md-5"></label>
                        <span>Playlist Title is required</span>
                    </div>
                </span>
            </div>

            <button mat-button color="primary" class=" btn btn-lg bg-gradient-primary btn-lg w-150 mt-4 mb-0">Save</button>
            <button mat-button mat-dialog-close class="btn btn-lg bg-gradient-black btn-lg w-150 mt-4 mb-0">Cancel</button>
        </form>
    </div>
</mat-dialog-content>
