<!DOCTYPE html>
<html lang="en">
<app-header></app-header>

<body class="g-sidenav-show bg-gray-200">
    <div class="main-layout">
        <aside id="sidenav-main">
            <app-sidebar></app-sidebar>
        </aside>
        <div class="main-content">
            <main class="main-content full-height position-relative border-radius-lg ">
                <!-- Navbar -->
                <app-navbar></app-navbar>
                <!-- End Navbar -->

                <div class="container-fluid py-4 pb-2">
                    <div class="row">
                        <div class="col-12 ms-0">

                            <div class="card">
                                <div
                                    class="d-flex align-items-center justify-content-between bg-gradient-info shadow-info border-radius-lg pt-2 pb-2">
                                    <h6 class="text-white text-capitalize ps-3 mb-0 pt-1">News Details Information</h6>
                                    <div class="align-items-end text-end me-3">
                                        <a class="btn bg-gradient-secondary mb-0 pb-2 ps-2 me-3"
                                            (click)="openEditGenreDialog()">
                                            <i class="material-icons text-sm ">edit</i>&nbsp;&nbsp;Edit
                                        </a>
                                        <a class="btn bg-gradient-primary mb-0 pb-2 ps-2"
                                            (click)="openEditGenreDialog()">
                                            <i class="material-icons text-sm ">delete</i>&nbsp;&nbsp;Delete
                                        </a>
                                    </div>
                                </div>

                                <div class="row card-body pt-4">
                                    <div class="card-body col-4" style="background-color: aliceblue;">
                                        <div class="mb-2">
                                            <span class="text-s">Title:</span>
                                            <span class="text-dark font-weight-bold ms-sm-2"> Ten gi do</span>
                                        </div>
                                        <div class="mb-2">
                                            <span class="text-s">is_Active: </span>
                                            <span class="badge badge-sm bg-gradient-primary"
                                                style="color: white;">True</span>
                                            <span class="badge badge-sm bg-gradient-success ms-2"
                                                style="color: white;">False</span>
                                        </div>

                                        <!-- <div class="mb-2">
                <span class="text-s">Deleted: </span>
                
            </div> -->
                                        <div class="mb-2">
                                            <span class="text-s">Created_At: </span>
                                            <span class="text-dark ms-sm-2 font-weight-bold">12/12/2024</span>
                                        </div>
                                        <div class="mb-2">
                                            <span class="text-s">Modified_At: </span>
                                            <span class="text-dark ms-sm-2 font-weight-bold">12/12/2024</span>
                                        </div>
                                        <div class="mb-2">
                                            <span class="text-s">Content: </span>
                                            <span class="text-dark ms-sm-2 font-weight-bold">Noi dung o day</span>
                                        </div>

                                    </div>
                                    <div class="col-2 align-items-end text-end ms-6">
                                        <img src="https://via.placeholder.com/150" alt="Image Preview"
                                            class="img-thumbnail" style="width: 150px;; height: 150px;">
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <app-footer></app-footer>
            </main>
        </div>
    </div>
</body>

</html>