<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
    data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm "><a class="font-weight-bold" href="javascript:;" style="color: black;">Pages</a>
                </li>
                <li class="breadcrumb-item text-sm active font-weight-bold" style="color: black;" aria-current="page">
                    <span *ngIf="getPageTitle()==='Dashboard'; else otherPage">Dashboard</span>
                    <ng-template #otherPage>{{getPageTitle()+'s'}}</ng-template>

                </li>
            </ol>
            <h6 class="font-weight-bolder mb-0 text-info">
                <span>{{getPageTitle2()}}</span>
            </h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                <div class="input-group-outline me-5">
                    <!-- <label class="form-label">Type here...</label>
                    <input type="text" class="form-control"> -->

                    <button onclick="switchLanguage('en')">Eng</button>
                    |
                    <button onclick="switchLanguage('vi')">Vi</button>
                </div>
            </div>
            <ul class="navbar-nav justify-content-end" >
                <li class="nav-item d-flex align-items-center">
                    <a routerLink="/login" class="nav-link text-body font-weight-bold px-0">
                        <span *ngIf="roleAdmins; else other"style="color: black;" >Admin </span>
                        <ng-template #other>Artist </ng-template>
                        <i class="fa fa-user me-sm-1 text-dark"></i>
                        <span style="color: black;">{{fullName}} </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>